alembic==1.16.2
fastapi==0.116.0
langchain==0.3.26
langchain_openai==0.3.27
numpy==2.3.1
openai==1.93.1
passlib==1.7.4
pydantic==2.11.7
pydantic_settings==2.10.1
python_jose==3.5.0
qdrant_client==1.14.3
sentence_transformers==4.1.0
SQLAlchemy==2.0.41
sqlmodel==0.0.24
uvicorn[standard]==0.34.3
asyncpg==0.30.0
pgvector==0.4.1
psycopg2-binary==2.9.10
pydantic[email]==2.11.7
python-multipart==0.0.20
aiofiles==24.1.0
PyMuPDF==1.23.8
redis==5.2.1

opentelemetry-api==1.35.0
opentelemetry-exporter-otlp==1.35.0
opentelemetry-exporter-otlp-proto-common==1.35.0
opentelemetry-exporter-otlp-proto-grpc==1.35.0
opentelemetry-exporter-otlp-proto-http==1.35.0
opentelemetry-instrumentation==0.56b0
opentelemetry-instrumentation-logging==0.56b0
opentelemetry-proto==1.35.0
opentelemetry-sdk==1.35.0
opentelemetry-semantic-conventions==0.56b0

openai==1.97.0
openai-agents==0.2.2
